// @font-face {
//     font-family: 'Gilroy-Medium';
//     src: url('./fonts/Gilroy-Medium.ttf');
// }
// @font-face {
//     font-family: 'Gilroy-Regular';
//     src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Literata-Bold';
//     src: url('./fonts/Literata-Bold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Literata-Medium';
//     src: url('./fonts/Literata-Medium.ttf') format('truetype');
// }

.wrapper {
    width: 90%; 
    margin: 0 auto; 
}

@media (min-width: 1000px){
    .wrapper{
        width: 75%;
    }
}