.month { 
    h1 { 
        font-family: 'Literata-Medium';
    }
    p {
        font-size: 1em; 
    }
}

@media (min-width: 1000px){
    .month{
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    }
}